@page
@model IndexModel
@{
    ViewData["Title"] = "Обща информация";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<div class="font-sp det-m-lg det-m-sm">
    <h4>@ViewData["Title"]</h4>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="row">
        <div class="col-md-6">
            <h6>Здравей, @User.Identity.Name</h6>

            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                @if (true)
                {
                    <div class="input-group">
                        <input asp-for="Input.Email" class="form-control" disabled />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Input.Email" class="form-control" />
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link text-purple">Send verification email</button>
                }
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}