@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Потвърждение на забравена парола";
}

<h1 class="font-sp">@ViewData["Title"]</h1>
<hr />
<p class="font-sp">
    Моля проверете си имейла за промяна на паролата.
</p>

