@page
@model LockoutModel
@{
    ViewData["Title"] = "Блокиран акаунт";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Акаунта е блокиран, моля опитайте по-късно.</p>
</header>
