
@{
    ViewData["Title"] = "Добавяне на продукт";
}

<div>
    <form asp-controller="Home" asp-action="AddProduct" method="post" autocomplete="off" enctype="multipart/form-data">
        <div class="form-group row">
            <label for="CategorySelectCreateProduct" class="col-md-3 col-form-label">Подкатегория</label>
            <div class="col-md-6">
                <select class="form-control" id="categorySelectCreateProduct" name="CategorySelectCreateProduct" required>
                    <option value="" selected disabled>Избери подкатегория...</option>
                    @foreach (var cat in Model.Categories)
                    {
                        foreach (var subCat in cat.SubCategoriesViewModel)
                        {
                            <option value="@subCat.SubCategoryId">@subCat.SubCategoryId: @subCat.Title</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="ProductName" class="col-md-3 col-form-label">Име:</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="productName" name="ProductName" placeholder="Име на продукта...">
            </div>
        </div>
        <div class="form-group row">
            <label for="ProductAuthor" class="col-md-3 col-form-label">Автор:</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="productAuthor" name="ProductAuthor" placeholder="Автор...">
            </div>
        </div>
        <div class="form-group row">
            <label for="ProductPages" class="col-md-3 col-form-label">Страници:</label>
            <div class="col-md-6">
                <input type="number" class="form-control" id="productPages" name="ProductPages" placeholder="Страници...">
            </div>
        </div>
        <div class="form-group row">
            <label for="ProductFormat" class="col-md-3 col-form-label">Формат:</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="productFormat" name="ProductFormat" placeholder="Формат...">
            </div>
        </div>
        <div class="form-group row">
            <label for="ProductPublisher" class="col-md-3 col-form-label">Издател:</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="productPublisher" name="ProductPublisher" placeholder="Издател...">
            </div>
        </div>
        <div class="form-group row">
            <label for="ProductCover" class="col-md-3 col-form-label">Корица:</label>
            <div class="col-md-6">
                <select class="form-control" id="productCover" name="ProductCover">
                    <option value="SoftCover" selected>Мека подвързия</option>
                    <option value="HardCover">Твърда подвързия</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="ProductPrice" class="col-md-3 col-form-label">Цена:</label>
            <div class="col-md-6">
                <input type="number" step="0.01" class="form-control" id="productPrice" name="ProductPrice" placeholder="Цена..." value="0">
            </div>
        </div>
        <div class="form-group row">
            <label for="ProductDiscount" class="col-md-3 col-form-label">Отстъпка:</label>
            <div class="col-md-6">
                <input type="number" class="form-control" id="productDiscount" name="ProductDiscount" placeholder="Отстъпка..." value="0">
            </div>
        </div>
        <div class="form-group row">
            <label for="Image" class="col-md-3 col-form-label">Картинка: </label>
            <div class="col-md-6 custom-file">
                <input type="file" id="Image" name="Image">
            </div>
        </div>
        <div class="form-group row">
            <label for="ProductWeight" class="col-md-3 col-form-label">Тегло:</label>
            <div class="col-md-6">
                <input type="number" class="form-control" id="productWeight" name="ProductWeight" value="0" placeholder="Тегло...">
            </div>
        </div>
        <div class="form-group row">
            <label for="ProductToShow" class="col-md-3 col-form-label">Да се показва:</label>
            <div class="col-md-6">
                <select class="form-control" id="productToShow" name="ProductToShow">
                    <option value="Yes" selected>Да</option>
                    <option value="No">Не</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="ProductDate" class="col-md-3 col-form-label">Дата:</label>
            <div class="col-md-6">
                <input type="date" class="form-control" id="productDate" name="ProductDate" placeholder="Дата...">
            </div>
        </div>
        <div class="form-group row">
            <label for="ProductISBN" class="col-md-3 col-form-label">ISBN:</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="productISBN" name="ProductISBN" placeholder="ISBN...">
            </div>
        </div>
        <div class="form-group row">
            <label for="ProductBuyForm" class="col-md-3 col-form-label">Купува се от:</label>
            <div class="col-md-6">
                <input type="text" class="form-control" id="productBuyForm" name="ProductBuyForm" placeholder="Купува се от...">
            </div>
        </div>
        <div class="form-group row">
            <label for="ProductDescription" class="col-md-3 col-form-label">Описание:</label>
            <div class="col-md-6">
                <textarea style="width:100%;" rows="4" id="productDescription" name="ProductDescription" placeholder="Описание..."></textarea>
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Създаване</button>
        </div>
    </form>
</div>

