<div class="row mb-5 font-spMed">
    <div class="col-md-3 mt-4">
        <div class="mb-3" style="color: rgba(255, 255, 255, 0.8)">За AREA.BG</div>
        <div><a asp-controller="Home" asp-action="AboutUs" class="textWhiteHover">За нас</a></div>
        <div><a asp-controller="Home" asp-action="Delivery" class="textWhiteHover">Доставка</a></div>
        <div><a asp-controller="Home" asp-action="OrderStatus" class="textWhiteHover">Проверка на поръчки</a></div>
    </div>
    <div class="col-md-3 mt-4">
        <div class="mb-3" style="color: rgba(255, 255, 255, 0.8) ">КОНТАКТИ И ПОМОЩ</div>
        <div><a asp-controller="Home" asp-action="Contacts" class="textWhiteHover">Контакти</a></div>
        <div><a asp-controller="Home" asp-action="Terms" class="textWhiteHover">Общи условия</a></div>
        <div><a asp-controller="Home" asp-action="Confidentiality" class="textWhiteHover">Политика за поверителност</a></div>
    </div>
</div>

<div>
    &copy; 2021 - Area.bg
</div>

